
* {
    margin: 0;
	box-sizing: border-box;
    /* border: 1px solid blue; */
}

#content {
    height: 100vh;

    display: grid;
    grid-template-rows: 9fr 1fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;

    grid-template-areas: "tleft tpicture tright"
                         "bdot bdot bdot"
                         "bplay bplay bplay";
}

#left {
    grid-area: tleft;
}
#right {
    grid-area: tright;
}
#picture {
    grid-area: tpicture;

    display: flex;
    justify-content: center;
}
.img {
    max-height: 90vh;

    animation: fadein 1s ease-in-out 0s 1 normal forwards;
}


@keyframes fadein {
    0% {
        opacity: 0;;
    }
    100% {
        opacity: 1;
    }
}


/* LEFT AND RIGHT BUTTONS */
#left, #right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-left, #btn-right {
    height: 3rem;
    width: 2rem;
}


/* BOTTOM BUTTONS */
#bott-dots {
    grid-area: bdot;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.bott-dot-btn {
    height: 1rem;
    border-radius: 100%;
}
.bott-dot-btn:hover {
    background-color: green;
}


/* BOTTOM PLAY BTN */
#bott-play {
    grid-area: bplay;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-play {
    height: 2rem;
    width: 8rem;
}
